@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format("woff2");
}

body {
    font-family: 'Roboto';
    margin: 0;
    padding: 0;
}

.header {
    background-color: #3B0D76;
    color: #FFFFFF;
    height: 80px;
    width: 100%;
}

h1 {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: [col-1] 300px [col-2] auto [col-3] 200px;
    grid-template-rows: [row-1] 50px;
    padding: 20px 10% 20px 10%;
}

