@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format("woff2");
}

body {
    background: #3B0D76;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.content {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.content > .form-content{
    background: #FFFFFF;
    color: #403D3D;
    border-radius: 2ch;
    width: 50vh;
    height: 750px;
}

.form-header {
    padding-top: 30px;
    font-size: 25px;
    text-align: center;
}


.form-group {
    text-align: center;
    position: relative;
    padding-top: 50px;
}

label {
    font-size: 18px;
    position: absolute;
    padding-top: 20px;
    top: 0;
}

input {
    font-size: 18px;
    width: 40vh;
    height: 40px;
    border: 0.15rem solid #403D3D;
    border-radius: 10px

}

.input-submit {
    background: #3B0D76;
    color: #FFFFFF;
    border: 3ch;
    border-radius: 1ch;
    
}
