{% extends 'core/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
    <header id="header" class="header container">
        <div class="header-main-title">
            <h1>Check Weather</h1>
        </div>
        <div>
            
        </div>
        <div class="header-logout">
            <a href="{% url 'core:logout' %}"><button>Logout</button></a>
        </div>
    
    </header>

    <main class="main-content container">
        <section>
            {% if user.is_authenticated %}
            <div><h3>Usuário logado</h3></div>
            {% endif %}
        </section>
    </main>

{% endblock %}
