<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" href="{% static 'css/sign-up.css' %}">
    <title>Sign Up</title>
</head>
<body>
    <main class="content">
        <form class="form-content" id="form-content" action="{% url 'core:sign_up' %}" method="post">
            {% csrf_token %}
            <div class="form-header">Create your account here</div>
            <div class="form-group">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
            <div class="form-group">
                <label for="id_first_name">First Name</label>
                {{ form.first_name }}
            </div>
            <div class="form-group">
                <label for="id_last_name">Last Name</label>
                {{ form.last_name }}
            </div>
            <div class="form-group">
                <label for="id_login">Login</label>
                {{ form.login }}
            </div>
            <div class="form-group">
                <label for="id_email">Email</label>
                {{ form.email }}
            </div>
            <div class="form-group">
                <label for="id_password">Password</label>
                {{ form.password }}
            </div>
            <div class="form-group">
                <label for="id_password_check">Repeat Password</label>
               {{ form.password_check }}
            </div>
            <div class="form-group">
                <input class="input-submit" type="submit" name="input-submit" value="Sign Up">
            </div>
        </form>
    </main>
</body>
</html>